<a href="https://colab.research.google.com/github/naitikganvir/AI-Powered-Fraud-Detection/blob/main/Pandas_DoubtSession.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

Its a library used to wrking the table/datasets form of dayta
used for data manupulation and analaysis

**Pandas helps us to store the data**
-clean data
-look at data
-Change data
-**analysis data**
-**Prepare for visualization and ML model**

In [3]:
#Series in pandas
#Series is like column
import pandas as pd
l = ["Apple", "Banana", "Mango"]
series = pd.Series(l) #It convert into column verticial
print(series)

0     Apple
1    Banana
2     Mango
dtype: object

In [6]:
print(series.index)
print(series.values)

RangeIndex(start=0, stop=3, step=1)
['Apple' 'Banana' 'Mango']

In [ ]:
#Dataframe
#2d data, they are tables (with rows and columns)

In [10]:
d = {
    "Name" : ["Naitik", "Arman", "Jia"],
    "Roll" : [1, 2, 3],
     "Marks" : [90, 50, 60]
}
df=pd.DataFrame(d)
print(df)

     Name  Roll  Marks
0  Naitik     1     90
1   Arman     2     50
2     Jia     3     60

In [11]:
#How to access columns
print(df["Name"])

0    Naitik
1     Arman
2       Jia
Name: Name, dtype: object

In [13]:
print(df["Marks"])
print(df[ "Roll"])

0    90
1    50
2    60
Name: Marks, dtype: int64
0    1
1    2
2    3
Name: Roll, dtype: int64

In [16]:
#How to access the rows
print(df.loc["0", "Marks"])

KeyError: '0'

In [17]:
print(df.loc["1", "Name"])

KeyError: '1'

In [19]:
# upload the file on the folder option... Dataset load
df = pd.read_csv('/content/Flight_Booking.csv')

print(df)

        Unnamed: 0    airline   flight source_city departure_time stops  \
0                0   SpiceJet  SG-8709       Delhi        Evening  zero
1                1   SpiceJet  SG-8157       Delhi  Early_Morning  zero
2                2    AirAsia   I5-764       Delhi  Early_Morning  zero
3                3    Vistara   UK-995       Delhi        Morning  zero
4                4    Vistara   UK-963       Delhi        Morning  zero
...            ...        ...      ...         ...            ...   ...
116459      116459  Air_India   AI-640   Bangalore  Early_Morning   one
116460      116460    Vistara   UK-812   Bangalore        Morning   one
116461      116461    Vistara   UK-816   Bangalore        Morning   one
116462      116462    Vistara   UK-812   Bangalore        Morning   one
116463      116463    Vistara   UK-816     Bangalo            NaN   NaN

         arrival_time destination_city    class  duration  days_left    price
0               Night           Mumbai  Economy      2.17        1.0   5953.0
1             Morning           Mumbai  Economy      2.33        1.0   5953.0
2       Early_Morning           Mumbai  Economy      2.17        1.0   5956.0
3           Afternoon           Mumbai  Economy      2.25        1.0   5955.0
4             Morning           Mumbai  Economy      2.33        1.0   5955.0
...               ...              ...      ...       ...        ...      ...
116459  Early_Morning          Chennai  Economy     24.58       13.0  10744.0
116460        Evening          Chennai  Economy      6.58       13.0  12454.0
116461          Night          Chennai  Economy      8.75       13.0  12454.0
116462          Night          Chennai  Economy     10.50       13.0  12454.0
116463            NaN              NaN      NaN       NaN        NaN      NaN

[116464 rows x 12 columns]

In [ ]:
#Analysing the Data

Analysing the data

- head()
-tail()
-info()
-describe()
-shape()

In [20]:
print(df.head(7)) #first seven rows

   Unnamed: 0   airline   flight source_city departure_time stops  \
0           0  SpiceJet  SG-8709       Delhi        Evening  zero
1           1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2           2   AirAsia   I5-764       Delhi  Early_Morning  zero
3           3   Vistara   UK-995       Delhi        Morning  zero
4           4   Vistara   UK-963       Delhi        Morning  zero
5           5   Vistara   UK-945       Delhi        Morning  zero
6           6   Vistara   UK-927       Delhi        Morning  zero

    arrival_time destination_city    class  duration  days_left   price
0          Night           Mumbai  Economy      2.17        1.0  5953.0
1        Morning           Mumbai  Economy      2.33        1.0  5953.0
2  Early_Morning           Mumbai  Economy      2.17        1.0  5956.0
3      Afternoon           Mumbai  Economy      2.25        1.0  5955.0
4        Morning           Mumbai  Economy      2.33        1.0  5955.0
5      Afternoon           Mumbai  Economy      2.33        1.0  5955.0
6        Morning           Mumbai  Economy      2.08        1.0  6060.0

In [21]:
print(df.tail(8)) #Last ke 8 rows dega

        Unnamed: 0    airline  flight source_city departure_time stops  \
116456      116456  Air_India  AI-573   Bangalore      Afternoon   one
116457      116457  Air_India  AI-610   Bangalore        Evening   one
116458      116458  Air_India  AI-748   Bangalore     Late_Night   one
116459      116459  Air_India  AI-640   Bangalore  Early_Morning   one
116460      116460    Vistara  UK-812   Bangalore        Morning   one
116461      116461    Vistara  UK-816   Bangalore        Morning   one
116462      116462    Vistara  UK-812   Bangalore        Morning   one
116463      116463    Vistara  UK-816     Bangalo            NaN   NaN

         arrival_time destination_city    class  duration  days_left    price
116456          Night          Chennai  Economy     10.33       13.0  10744.0
116457  Early_Morning          Chennai  Economy     12.17       13.0  10744.0
116458          Night          Chennai  Economy     20.50       13.0  10744.0
116459  Early_Morning          Chennai  Economy     24.58       13.0  10744.0
116460        Evening          Chennai  Economy      6.58       13.0  12454.0
116461          Night          Chennai  Economy      8.75       13.0  12454.0
116462          Night          Chennai  Economy     10.50       13.0  12454.0
116463            NaN              NaN      NaN       NaN        NaN      NaN

In [22]:
#basic information of the datasets

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116464 entries, 0 to 116463
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        116464 non-null  int64
 1   airline           116464 non-null  object
 2   flight            116464 non-null  object
 3   source_city       116464 non-null  object
 4   departure_time    116463 non-null  object
 5   stops             116463 non-null  object
 6   arrival_time      116463 non-null  object
 7   destination_city  116463 non-null  object
 8   class             116463 non-null  object
 9   duration          116463 non-null  float64
 10  days_left         116463 non-null  float64
 11  price             116463 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 10.7+ MB
None

In [23]:
#Describe => Statistical informtionn about data

print(df.describe())

          Unnamed: 0       duration      days_left          price
count  116464.000000  116463.000000  116463.000000  116463.000000
mean    58231.500000      11.098171      25.849532    6418.189949
std     33620.405213       7.136395      13.656466    3677.095454
min         0.000000       0.830000       1.000000    1694.000000
25%     29115.750000       5.830000      14.000000    4029.000000
50%     58231.500000       9.750000      26.000000    5603.000000
75%     87347.250000      14.920000      38.000000    7490.000000
max    116463.000000      41.830000      49.000000   40354.000000

In [25]:
#Shape() => No. of rows and columns

print(df.shape)

(116464, 12)

In [26]:
#Column => Names of all columns

print(df.columns)

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [27]:
#datatypes =  tell datatypes in each columns

print(df.dtypes)

Unnamed: 0            int64
airline              object
flight               object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left           float64
price               float64
dtype: object

Statitcal Summary/analysis
Columnwise analaysis